.container-post-detail {
	margin-top: 80px;
	color: #333;
	background: #fff;
	border: 1px solid #DDDFE2;
	border-radius: 5px;
	padding: 15px 30px;
}

.issue-data {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #DDDFE2;
	color: #888;
}

.issue-image {
	margin-bottom: 20px;
	max-width: 90%;
	margin-left: 5%;
}

.issue-details {
	font-size: 1.25rem;
	text-align: justify;
	margin-bottom: 50px;
}

.issue-interraction-buttons {
	margin-bottom: 20px;
}

.comment-text {
	border-right: 5px solid #91C3D2;
	padding-right: 10px;
	
}

.media-block {
	width: 80%; margin-left: auto; margin-right: auto; justify-content: center; align-items: center;
}

.media-block img {
	max-height: 500px; object-fit: cover; width: auto; margin-left: auto; margin-right: auto;
}

.crud-button {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 100;
}

.crud-button .btn {
	padding: 0;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	line-height: 50px;
	flex-shrink: 40px;
}
.delete-box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #FFB6C1;
	border: 1px solid #FFC0CB;
	border-radius: 5px;
	padding: 40px;

}
.delete-warning-text{
	margin-right: 20px;
}
.delete-box-wrapper {
	display: none;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background: #00000099;

}